# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

bin/
images
images_old
xapp.iml

# Make sure no secret env vars leak into github.
.env
env.sh
docker/xapp.env
main

.DS_Store